<body>
 
  <div class="container">
    <div class="row">
      <div class="col-6 home-text">
        <h1>
          <a href="" class="typewrite" data-period="2000" data-type='[ "To Do List.", "Gerencie suas tarefas!" ]'>
            <span class="wrap"></span>
          </a>
        </h1>
        <div class="text">
          <span>Organize suas tarefas de forma prática e grátis!</span>
        </div>
        <button mat-button (click)="openDialog()" class="tutorial-button">Clique aqui para acessar o tutorial</button>
      </div>
      <div class="col-6 img-home">
        <img src="../../../../../assets/to-do2.png"
          alt="Imagem com uma pessoa segurando uma caneta gigante olhando para um bloco de tarefas">
      </div>
    </div>
  </div>
</body>