<form class="form">

  <h1>NOVO TIPO DE TAREFA</h1>



  <mat-form-field style="color: aliceblue;" appearance="fill" class="field">
    <mat-label style="color: aliceblue;" >Novo Tipo de Tarefa</mat-label>
    <input style="color: aliceblue;" [(ngModel)]="tipoTarefa.descricao" [formControl]="descricao" required descricao="descricao" maxlength="400" matInput placeholder="Ex: O objetivo é entregar o Fornt end funcionando de forma integrada com o back end">
    <mat-error style="color: aliceblue;" *ngIf="descricao.invalid">{{ errorValidDescricao() }}</mat-error>
  </mat-form-field>




  <button (click)="salvar()" [disabled]="errorValidDescricao() || errorValidDescricao()" mat-stroked-button color="accent">Salvar</button>
  <button (click)="cancel()" mat-stroked-button color="warn">CANCELAR</button>
</form>
