<form class="form mat-elevation-z0">

  <h1>ATUALIZAR COMENTÁRIO</h1>

  <mat-form-field style="color: aliceblue;" appearance="fill" class="field" >
    <mat-label style="color: aliceblue;">Selecione o comentário que deseja atualizar </mat-label>

    <mat-select style="color: aliceblue;" selected="setor" [formControl]="id">
      <mat-option style="color: aliceblue;" *ngFor="let descricao of comentarios" [value]="descricao.values">
        {{descricao.values}} - {{descricao.label}}

      </mat-option>

    </mat-select>

  </mat-form-field>
</form>
<form style="color: aliceblue;" [formGroup]="form" class="form">
  <form  class = "example-form" >
    <mat-form-field  class = "field"  appear = "fill" >
      <mat-label style="color: aliceblue;" > Atualização </mat-label >
      <input style="color: aliceblue;" [(ngModel)]="comentario.descricao" [formControl]="descricao" required name="" matInput maxlength="400" placeholder="Ex. Prazo de entrega adiantado">
    </mat-form-field >


    <button (click)="update()" [disabled]="errorValidDescricao()" mat-stroked-button color="accent">ATUALIZAR</button>
    <button (click)="cancel()" mat-stroked-button color="warn">CANCELAR</button>
  </form>
</form>
