<form class="form">

  <h1>NOVO SETOR RESPONSÁVEL</h1>



  <mat-form-field style="color: aliceblue;"  appearance="fill" class="field">
    <mat-label style="color: aliceblue;" >Novo Setor</mat-label>
    <input style="color: aliceblue;" [(ngModel)]="responsavel.setor" [formControl]="setor" required setor="setor" maxlength="400" matInput placeholder="Ex: Requisitos">
    <mat-error style="color: aliceblue;" *ngIf="setor.invalid">{{ errorValidSetor() }}</mat-error>
  </mat-form-field>




  <button (click)="salvar()" [disabled]="errorValidSetor() || errorValidSetor()" mat-stroked-button color="accent">Salvar</button>
  <button (click)="cancel()" mat-stroked-button color="warn">CANCELAR</button>
</form>
