.create {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
}

.create h1 {
  text-align: center;
  font-size: 2rem;
}

.create button {
  width: 100%;
  margin: 1rem auto;
}

.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

table {
  width: 100%;
}
#edit{
  color: chartreuse;
}
#delete{
  color:aqua;
}
.create {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
}

.create h1 {
  text-align: center;
  font-size: 2rem;
}

.create button {
  width: 100%;
  margin: 1rem auto;
}

.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

table {
  width: 100%;
}

#edit {
  color: #FFA500;
  margin-right: 1rem;
}

#delete {
  color: #FF6347;
}

td.feito {
  color: #00FF7F;
  font-weight: bold;
}

td.fazendo {
  color: #FFFF00;
  font-weight: bold;
}

td.fazer {
  color: #FF4500;
  font-weight: bold;
}

button {
  background-color: #1578c9;
}