<h2 mat-dialog-title>Seja bem vindo!</h2>
<mat-dialog-content    class="mat-typography">
  <p>Antes de começar a criar tarefas é fundamental cadastrar um responsável e um tipo de tarefa, respectivamente.</p>
  <p>Para criar um comentário é necessário criar uma tarefa primeiro, para que você possa atribuir a mesma ao comentário.</p>
  <p>As informações de cada campo seguem um padrão, caso os campos não sejam
  preenchidos de acordo com os exemplos, não serão salvos no sistema.</p>
</mat-dialog-content>
<mat-dialog-actions aling="end">
  <button mat-button routerLink="responsavel">Começe agora!</button>
  <button mat-button mat-dialog-close>Fechar</button>
</mat-dialog-actions>
