<form class="form">

  <h1>NOVO COMENTÁRIO</h1>



  <mat-form-field appearance="fill" style="color: aliceblue;" class="field">
    <mat-label style="color: aliceblue;" >Data de Referência</mat-label>
    <input style="color: aliceblue;" [(ngModel)]="comentario.data" [formControl]="data" required data="data" maxlength="10" matInput placeholder="Ex: 22/07/2021 ">
    <mat-error style="color: aliceblue;" *ngIf="data.invalid">{{ errorValidData() }}</mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill" style="color: aliceblue;" class="field">
    <mat-label style="color: aliceblue;">Descrição do Comentário</mat-label>
    <input style="color: aliceblue;" [(ngModel)]="comentario.descricao" [formControl]="descricao" required descricao="descricao" maxlength="400" matInput placeholder="Ex: Estamos esperando a entrega dos requisitos para iniciarmos a codificação.">
    <mat-error style="color: aliceblue;" *ngIf="descricao.invalid">{{ errorValidDescricao() }}</mat-error>
  </mat-form-field>


  <button (click)="salvar()" [disabled]="errorValidData() || errorValidDescricao()" mat-stroked-button color="accent">Salvar</button>
  <button (click)="cancel()" mat-stroked-button color="warn">CANCELAR</button>
</form>
