<form class="form">

  <h1>NOVA TAREFA</h1>


  <mat-form-field style="color: aliceblue;" appearance="fill" class="field">
    <mat-label style="color: aliceblue;">Título da Tarefa</mat-label>
    <input style="color: aliceblue;" [(ngModel)]="tarefa.titulo" [formControl]="titulo" required titulo="titulo" maxlength="400" matInput placeholder="Ex: Levantamento de Requisitos">
    <mat-error style="color: aliceblue;" *ngIf="titulo.invalid">{{ errorValidTitulo() }}</mat-error>
  </mat-form-field>

  <mat-form-field style="color: aliceblue;" appearance="fill" class="field">
    <mat-label style="color: aliceblue;">Descrição da Tarefa</mat-label>
    <input style="color: aliceblue;" [(ngModel)]="tarefa.descricao" [formControl]="descricao" required descricao="descricao" maxlength="400" matInput placeholder="Ex: Levantas os requisitos para implementar um CRUD das Tarefas">
    <mat-error style="color: aliceblue;" *ngIf="descricao.invalid">{{ errorValidDescricao() }}</mat-error>
  </mat-form-field>

  <mat-form-field style="color: aliceblue;" appearance="fill" class="field">
    <mat-label style="color: aliceblue;" >Status da Tarefa</mat-label>
    <input style="color: aliceblue;" [(ngModel)]="tarefa.status" [formControl]="status" required status="status" maxlength="400" matInput placeholder="Ex: Pendente">
    <mat-error style="color: aliceblue;" *ngIf="status.invalid">{{ errorValidStatus()}}</mat-error>
  </mat-form-field>

  <mat-form-field style="color: aliceblue;" appearance="fill" class="field">
    <mat-label style="color: aliceblue;">Selecione o Tipo de Tarefa</mat-label>
    <mat-select style="color: aliceblue;" [(ngModel)]="tarefa.tipoTarefa.id" [formControl]="tipoTarefa"  >
      <mat-option style="color: aliceblue;" *ngFor="let tt of tiposTarefa" [value]="tt.values">
        {{tt.label}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field style="color: aliceblue;" appearance="fill" class="field">
    <mat-label style="color: aliceblue;">Selecione o Setor Responsável</mat-label>
    <mat-select style="color: aliceblue;" [(ngModel)]="tarefa.responsavel.id" [formControl]="responsavel"  >
      <mat-option style="color: aliceblue;" *ngFor="let tt of resposaveis" [value]="tt.values">
        {{tt.label}}
      </mat-option>
    </mat-select>
  </mat-form-field>


  <button (click)="salvar()" [disabled]="errorValidTitulo() || errorValidDescricao() || errorValidStatus()" mat-stroked-button color="accent">Salvar</button>
  <button (click)="cancel()" mat-stroked-button color="warn">CANCELAR</button>
</form>
